.form-check
  = form.check_box :request_access_enabled, class: 'form-check-input'
  = form.label :request_access_enabled, class: 'form-check-label' do
    %strong 允许用户请求访问
    %br
    %span.descr 如果可见等级为公开或者私有，允许用户请求访问。
