%div{ xmlns: "http://www.w3.org/1999/xhtml" }
  %p
    %strong= event.author_name
    = link_to "(#{truncate_sha(event.commit_id)})", project_commit_path(event.project, event.commit_id)
    %i
      在
      = event.created_at.to_s(:short)
  - unless event.rm_ref?
    .blockquote= markdown(escape_once(event.commit_title), pipeline: :atom, project: event.project, author: event.author)
    - if event.commits_count > 1
      %p
        %i
          \... 和
          = pluralize(event.commits_count - 1, "次更多提交")
